<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Events</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Events</h1>
    <ul>
    <% events.forEach( el => { %>
        <li class='todoItem' data-id='<%=el._id%>'>
<br>            <span class='eventcode'><%= el.eventcode %></span>
<br>            <span class='<%= el.active === false ? 'inactive' : 'not'%>'><%= el.eventname %></span>
<br>            <span class='eventstartdate'><%= el.eventstartdate %></span>
<br>            <span class='eventenddate'>END: <%= el.eventenddate %></span>
<br>            <span class='eventtype'>TYPE: <%= el.eventtype %></span>
<br>            <span class='eventvenue'>VENUE: <%= el.eventvenue %></span>
<br>            <span class='eventcity'>CITY: <%= el.eventcity %></span>
<br>            <span class='eventstate'><%= el.eventstartdate %></span>
<br>            <span class='eventcountry'><%= el.eventcountry %></span>
<br>            <span class='availablepostlive'><%= el.availablepostlive %></span>
<br>            <span class='del'> Delete </span>
        </li>
    <% }) %>    
    </ul>

    <h3>Active Events: <%= active %></h3>

    <h2>Create New Event</h2>
    <form action="/admin/createTodo" method='POST'>
<div>
    <label for="eventname">
        eventname:
        <input type="text" placeholder="Enter Todo Item" name='eventname' value='VERYBIG Convention' autofocus>
    </label>
</div>

<div>
    <label for="eventcode">
        eventcode:
        <input type="text" placeholder="eventcode" name='eventcode' value='show0122'>
    </label>
</div>

<div>
    <label for="eventstartdate">
        eventstartdate:
        <input type="text" placeholder="eventstartdate" name='eventstartdate' value="2022-09-13T03:08:08.488+00:00">
    </label>
</div>

<div>
    <label for="eventenddate">
        eventenddate:
        <input type="text" placeholder="eventenddate" name='eventenddate' value="2022-09-23T23:59:59.488+00:00">
    </label>
</div>

<div>
    <label for="eventtype">
        eventtype:
        <input type="text" placeholder="eventtype" name='eventtype' value="onsite">
    </label>
</div>

<div>
    <label for="eventvenue">
        eventvenue:
        <input type="text" placeholder="eventvenue" name='eventvenue' value='Some Convention Center'>
    </label>
</div>

<div>
    <label for="eventcity">
        eventcity:
        <input type="text" placeholder="eventcity" name='eventcity' value='Las Default'>
    </label>
</div>

<div>
    <label for="eventstate">
        eventstate:
        <input type="text" placeholder="eventstate" name='eventstate' value='NV'>
    </label>
</div>

<div>
    <label for="eventcountry">
        eventcountry:
        <input type="text" placeholder="eventcountry" name='eventcountry' value='United States'>
    </label>
</div>

<div>
    <label for="availablepostlive">
        availablepostlive:
        <input type="text" placeholder="availablepostlive" name='availablepostlive' value='true'>
    </label>
</div>


        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>
</html>